body {
    background-color: #73C0FF;
}

h1, h2, h3, h4, h5, h6{
    text-align: center;
}

button{
    text-align:center;
    margin: 0 auto;
}

table{
    margin: 0px auto;
}

table, td{
    border: 1px solid blue;
    border-collapse: collapse
}

.white {
    background: #ffffff;
}

.transparent {
    background: #73C0FF
}

.pink {
    background: #FF95B8
}

.blue {
    background: #2800FF
}

.red {
    background: #FF0055
}

.black {
    background: black
}

.yellow {
    background: yellow;
}

.orange {
    background: orange;
}

.green {
    background: green;
}

.indigo {
    background: indigo;
}

.violet {
    background: violet;
}